body {
  background-color: #d4e4ff;
  font-family: 'Quicksand', sans-serif;
}
h1 {
  font-family: 700px 'Quicksand', sans-serif;
}
#settings {
  border-radius: 0px;
  color: black;
  background-color: aliceblue;
}
}
.inline-block {
  display: inline-block;
}
.elementToBeCombined {
  border-color: #3a609e;
  border-style: dashed;
  border-width: 2px;
}
button {
  cursor: url("https://raw.githubusercontent.com/GameMaker38/Elemental-9/main/cursor.png?token=GHSAT0AAAAAABTMD34JDFQTCUEEZAY3VFGKYVGAC6Q"), auto;
  color: white;
  background-color: #15438f;
  border-color: white;
}
#combinationDiv {
  background-color: #77a4ed;
  color: white;
  border-radius:5px;
  width: 250px;
}
#settingsDiv {
  background-color: #77a4ed;
  color: white;
  border-radius: 5px;
  width: 250px;
