body {
  background-color: #d4e4ff;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: #00245bab;
}
h1 {
  font-family: 700px 'Quicksand', sans-serif;
}
.inline-block {
  display: inline-block;
}
.elementToBeCombined {
  border-color: #3a609e;
  border-style: dashed;
  border-width: 2px;
  width: fit-content;
}
button {
  cursor: url("https://raw.githubusercontent.com/GameMaker38/Elemental-9/main/cursor.png?token=GHSAT0AAAAAABTMD34JDFQTCUEEZAY3VFGKYVGAC6Q"), auto;
  color: white;
  background-color: #15438f;
  border-color: white;
}
#combinationDiv {
  background-color: #77a4ed;
  color: white;
  border-radius:5px;
  width: 300px;
}
#settingsDiv {
  background-color: #77a4ed;
  color: white;
  border-radius: 5px;
  width: 400px;
}
#title {
 font-size: 60px;
 color: #001330ab;
}
div {
  margin: auto;
}
a {
  color:#00317ba4
}
