body {
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  cursor: url("https://github.com/GameMaker38/Elemental-9/blob/main/cursor.png"), auto;
}
h1 {
  font-family: 700px 'Quicksand', sans-serif;
}
#settings {
  border-radius: 0px;
  color: black;
  background-color: aliceblue;
}
#settingsDiv {
  background-color: mintcream;
}
.inline-block {
  display: inline-block;
}
.elementToBeCombined {
  border-color: black;
  border-style: dashed;
}
